<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorPeli</servlet-name>
        <servlet-class>Controlador.ControladorPeli</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCombosIndex</servlet-name>
        <servlet-class>Controlador.ControladorCombosIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRegistro</servlet-name>
        <servlet-class>Controlador.ControladorRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPlanes</servlet-name>
        <servlet-class>Controlador.ControladorPlanes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSlader</servlet-name>
        <servlet-class>Controlador.ControladorSlader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControPeliInfo</servlet-name>
        <servlet-class>Controlador.ControladorPeliInf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPeliInfo</servlet-name>
        <servlet-class>Controlador.ControladorPeliInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSedes</servlet-name>
        <servlet-class>Controlador.ControladorSedes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCat</servlet-name>
        <servlet-class>Controlador.ControladorCat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLibroReclamaciones</servlet-name>
        <servlet-class>Controlador.ControladorLibroReclamaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPreguntasFrecuentes</servlet-name>
        <servlet-class>Controlador.ControladorPreguntasFrecuentes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSugerencias</servlet-name>
        <servlet-class>Controlador.ControladorSugerencias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorClientes</servlet-name>
        <servlet-class>Controlador.ControladorUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContUsuarios</servlet-name>
        <servlet-class>Controlador.ContUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCombos</servlet-name>
        <servlet-class>Controlador.ControladorCombos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPelicula</servlet-name>
        <servlet-class>Controlador.ControladorCombo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlComb</servlet-name>
        <servlet-class>Controlador.ControlComb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorContacto</servlet-name>
        <servlet-class>Controlador.ControladorContacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalleCombos</servlet-name>
        <servlet-class>DAO.DetallesCombosDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlSedesCombos</servlet-name>
        <servlet-class>Controlador.ControlSedesCombos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorReservas</servlet-name>
        <servlet-class>Controlador.ControladorReservas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCombosCompras</servlet-name>
        <servlet-class>Controlador.ControladorCombosCompras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLogin</servlet-name>
        <servlet-class>Controlador.ControladorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPanelCliente</servlet-name>
        <servlet-class>Controlador.ControladorPanelCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorPeli</servlet-name>
        <url-pattern>/ControladorPeli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCombosIndex</servlet-name>
        <url-pattern>/ControladorCombosIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRegistro</servlet-name>
        <url-pattern>/ControladorRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPlanes</servlet-name>
        <url-pattern>/ControladorPlanes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSlader</servlet-name>
        <url-pattern>/ControladorSlader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControPeliInfo</servlet-name>
        <url-pattern>/ControPeliInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPeliInfo</servlet-name>
        <url-pattern>/ControladorPeliInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSedes</servlet-name>
        <url-pattern>/ControladorSedes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCat</servlet-name>
        <url-pattern>/ControladorCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLibroReclamaciones</servlet-name>
        <url-pattern>/ControladorLibroReclamaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPreguntasFrecuentes</servlet-name>
        <url-pattern>/ControladorPreguntasFrecuentes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSugerencias</servlet-name>
        <url-pattern>/ControladorSugerencias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorClientes</servlet-name>
        <url-pattern>/ControladorClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContUsuarios</servlet-name>
        <url-pattern>/ContUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCombos</servlet-name>
        <url-pattern>/ControladorCombos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPelicula</servlet-name>
        <url-pattern>/ControladorPelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlComb</servlet-name>
        <url-pattern>/ControlComb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorContacto</servlet-name>
        <url-pattern>/ControladorContacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalleCombos</servlet-name>
        <url-pattern>/DetalleCombos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlSedesCombos</servlet-name>
        <url-pattern>/ControlSedesCombos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorReservas</servlet-name>
        <url-pattern>/ControladorReservas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCombosCompras</servlet-name>
        <url-pattern>/ControladorCombosCompras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLogin</servlet-name>
        <url-pattern>/ControladorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPanelCliente</servlet-name>
        <url-pattern>/ControladorPanelCliente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
