/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 5 oct. 2024, 14:58:57
    Author     : JEFFERSON
*/

.row_edit{
    height: 30px !important;
    padding: 0 !important;
    margin: 0 !important
}

.text_decorate_vermas{
    font-size: 10px;
    margin-bottom: 0;
    margin-top: 5px;
    
}

.content_text_edit{
    text-align: justify !important;
    float: right !important;
    color: black !important;
    width: 100% !important;
}



.decoracion_ojo{
    border: 1px solid #fd8b8b;
    padding: 2px 7px;
    
}

.cursor_p{
    cursor: default
}

.flex_edit_cont_precio{
    display: flex;
    text-align: justify !important;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}

.margin_conta{
    padding-right: 30%;
    
}
.marg_edt{
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-bottom: 0 !important;
    
    padding-top: 0
}

.carrito_eliminar_e{
    margin:10px 0;
    padding: 0px 13px;
    border-radius: 5px;
    text-decoration: none !important;
    
}

.carrito_eliminar_e:hover{
    transition: all 1s linear !important;
}

.card:hover{
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.8);
    margin: 10px;
    transition: all 1s;
}

.text_edit_nom{
    text-align: justify !important;
    width: 100% !important;
    font-size: 20px
}

.fixed_navbar2{
    z-index: 9;
}
.fixed_navbar{
    
    height: 60px !important;
    padding: 14px !important;
    cursor: pointer !important
}

.encabezado{
    font-size: 37px !important;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.disminuir{
    border-radius: 5px !important
}

#vaciar-carrito{
    background-color: #ffdbc4 !important;
    border-radius: 15px;

}

#vaciar-carrito:hover{
    
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
    font-weight: bold;
    text-decoration: none;
    transition: all 2s
}

.borrar-curso:hover,.borrar-curso-2:hover,.borrar-curso-3:hover{
    color:#ffdf00;
    text-decoration: none !important;
    transition: all 1s !important;
}
#lista-carrito-tbody tr td{
    color:#1c1c1c !important;
    
    
}

#carrito{
    background: rgba(245, 245, 210, 0.4);
    border-radius: 28px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.8);

    box-sizing: border-box;
    
    
    /* O el ancho deseado */
    max-height: 600px; /* Altura máxima para el scroll vertical */
    overflow-y: auto; /* Desplazamiento vertical */
    overflow-x: auto; /* Desplazamiento horizontal */
    border: 1px solid #ccc; 
    z-index: 99999 !important;
    cursor: default !important
}

#carrito-2{
    max-height: 600px; /* Altura máxima para el scroll vertical */
    overflow-y: auto; /* Desplazamiento vertical */
    overflow-x: auto; /* Desplazamiento horizontal */
    
    cursor: default !important
}

#carrito::-webkit-scrollbar ,#carrito-2::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento vertical */
}

#carrito::-webkit-scrollbar-track,#carrito-2::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del fondo de la barra de desplazamiento */
}

#carrito::-webkit-scrollbar-thumb,#carrito-2::-webkit-scrollbar-thumb {
    background: orange; /* Color de la barra de desplazamiento */
    border-radius: 10px; /* Esquinas redondeadas de la barra */
}

#carrito::-webkit-scrollbar-thumb:hover,#carrito-2::-webkit-scrollbar-thumb:hover {
    background: darkorange; /* Color al pasar el ratón sobre la barra */
}




.submenu img{
    filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.3));
    
}



.bebidas_div,.dulceria_div{
    display: none;
}

#row_edit{
    cursor: default
}


.nav-solid-stea{
    display: block;

    max-width: 100% !important;
    width: 100%;;
    padding: 1rem 8rem !important;
    max-height: 100%;
    max-height: 700px !important;
    height: 200px !important;
    margin-bottom: 20%;
    cursor: default !important
}

.edit_pie_pag{
    margin-top: 0 !important
}

#lista-carrito-2 thead tr th{
    color: #f56b6b;
}


.edit_flex_conte{
    display: flex;
    cursor: default !important;
    padding-top: 3% !important
}


#carrito-2-img {
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 50%;
    
    margin-left: 5%;
    
    padding: 5rem;
    padding-right: 30rem;
    background-image: url('../img/img_opaco_combos.jpg');
    background-size: cover;
    background-position: center;
    opacity: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    float: left;
    border: 3px solid black
    
}

#carrito-2-img img {
    width: 250px;
    height: auto;
    
    object-fit: contain !important;
    margin-right: -115px !important
    
}

#carrito-2-img img:first-child {
    margin-left: -60px !important;
}

#carrito-2{
    width:80%;
    max-width: 100%;
    height: 400px;
    margin-right: 0
}

.edit_btn_marg{
    text-align: center !important;
        align-content: center !important;
        align-items: center !important;
        justify-content: center !important;
        justify-items: center !important
}

.vaciar-carrito-2{
    margin-right: 10% !important
}


.id_img_captura{
    display: none
}
@media (max-width: 1177px) {
    
    .edit_flex_conte{
        display: block;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center
        
    }
    
    .nav-solid-stea{
        height: 1500px !important;
        
        padding:0 !important;
        margin:0 !important;
        margin-bottom:70%  !important;
        padding: 4rem !important;
        margin-top: 5% !important;
    }
    
    #carrito-2,#carrito-2-img{
        max-width: 100%;
       width: 100%;
       margin: 0;
       
    }
    
    #carrito-2-img{
        margin-top: 15%;
        padding: 10% 5% !important;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center
        
    }
    
    #carrito-2-img img {
        width: 200px;
        height: 100px;
        object-fit: contain !important;
    margin-left: 0px !important
    }
    


}

@media (max-width: 1400px) {
    
    .edit_flex_conte{
        
    }
    #carrito-2,#carrito-2-img{
       
    }
    
    #carrito-2-img{
     
    }
    
    .nav-solid-stea{
        margin-bottom: 25% !important;
        
    }
    
    #carrito-2-img img{
        
        
    }
}

@media (max-width: 1300px) {
    
    
    .nav-solid-stea{
        margin-bottom:25%  !important
    }
    
}

@media (max-width: 692px) {
    
    .nav-solid-stea{
        width: 100%;
        margin-bottom: 60% !important
    }
    
    #carrito-2-img{
       padding-right: 0;
       padding-left: 0
    }
    
}

