/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 30 ago. 2024, 22:55:22
    Author     : JEFFERSON
*/
.principal{
    margin-top: 8%;
    
}
#title_uni{
    font-size: 50px !important;
    text-shadow: 0px 2px 5px black !important;
}
.comprar_ticket h4{
    font-size: 19px;
    padding-left: 7px;
    color: white !important;
}
.comprar_ticket{
    display: flex;
    align-items: center;
    background-color: rgb(255, 119, 0);
    padding: 5px 15px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    margin-left: 29%;
    margin-right: 29%;
}

.comprar_ticket:hover{
    box-shadow: 0px 0px 10px 7px rgb(224, 187, 2);
    transition: all 0.4s linear;
    text-decoration: none !important;
    color: black !important;
}
        

           *
           
           .cl{
               display: block;
               flex-flow: column wrap;
               min-height: 10vh;
               margin-top: 5%;
               margin-bottom: 5%;
               padding: 3%;
               
               
           }
           
           
           
           #title_uni{
               width: 100%;  
               text-align: center;
               margin-bottom: 2%;
               color: orangered;
               text-shadow: 0px 5px 5px white;
               
           }            
           .principal{          
               flex: 1;
               display: flex;                                                
               flex-wrap: wrap;
               gap:100px;      
               padding: 5px 20px;
           }
           #art1,#art3{                
               flex: 1 1 calc(33% - 20px);                
               min-height: 35vh;
           }                        
           #art1 img,  #textc{
               width: 100%;
               height: 100%;
           }
           
           
           .edit{
               box-shadow: 0px 0px 10px 2px black;
               border-radius: 10px;
           }
           
           

           @media screen and (max-width:768px){            

               #art1,#art2{
                   flex: 1 1 calc(50% - 20px);
               }
               #art3{
                   flex: 1 1 calc(100% - 20px);                   
               }
               
               .cl{
               margin-bottom: 7%
                }
           
           }
           
           

       
