/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 22 set. 2024, 22:18:52
    Author     : JEFFERSON
*/

.combos_cad:hover{
    box-shadow: 0px 0px 15px 16px gray;
    transition: all 1s;
    margin: 1rem
}

.edit_separar{
    margin-top: 6%;
    
}

 .container_selector {
            display: flex;
            align-items: center;
}
.button_t {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}
.input_t,.input_t-2,.input_t-3 {
    width: 50px;
    text-align: center;
    font-size: 16px;
}



.menu_peli {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px
}

.menu_peli > li {
    position: relative;
    margin: 0;
}

.menu_peli > li > a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    background-color: #333;
    border-right: 1px solid #444;
    width: 200px;
    text-align: center;
}

.menu_peli > li > a:hover {
    background-color: #555;
}

.menu_peli ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #444;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 200px;
    z-index: 5;

}

.menu_peli ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
   
}





/*ocultar*/
#input-search-ser{
    color: black;
    text-align: justify;
    
    padding: 3px 5px;
    display: block;
    width: 300px;
    box-sizing: border-box;
    margin: 0 20px;
    
}


#li_id{
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    
}

#href_id{
   width: 60px;
   border: none;
   
    
}

#href_id:hover{
    background: none;
    text-shadow: 0px 0px 3px white;
    transition: all 1s
}

#ul_edit{
    width: 400px
}

.menu_peli > #li_id:hover > #ul_edit {
    display: none;
}

/*ocultar*/


.menu_peli ul li a:hover {
    background-color: #ff8000;
}

.menu_peli > li:hover > ul {
    display: block;
}



@media (max-width: 600px) {
    .menu_peli {
        flex-direction: column;
        align-items: center;
    }

    .menu_peli > li > a {
        font-size: 14px;
        border-right: none;
        width: 100%;
    }

    .menu_peli ul {
        width: 100%;
    }
}

.menu_peli li{
    text-align: center
}

.class_img_sede{
    border-radius: 60% !important;
    margin-bottom: 40px;
    box-shadow: 0 4px 18px rgba(255, 255, 255, 0.4);
}

.disfruta_combos{
    border-bottom: solid white 3px;
}

.text_decox{
    font-weight: bold;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 55, 0, 0.8));
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
}



.sdback{
    background-color: orange
}
.name_letra_2{
    margin: 0 3rem;
}

.name_letra_2:hover{
    color:black !important;
    transition: all 2s;
    text-decoration: underline;
    padding: 3px;
    margin: 0 4rem
}

.menu_prin{
    margin: 0 32.1%;
}