/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 3 set. 2024, 22:10:14
    Author     : JEFFERSON
*/

 .dis_p {
    position: relative;
    display: inline-block;
}

.decorative-rectangle {
    position: relative;
    display: inline-block;
    padding: 0 0.5em;
    background: linear-gradient(to bottom, rgba(225, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    -webkit-background-clip: text;
    
    color: transparent; 
    
    border-radius: 10px;
}

.decorative-rectangle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 205, 145, 0.5), rgba(0, 0, 0, 0.8));
    transform: translateY(-50%); 
    z-index: -1;
    
    border-radius: 10px;
}

.o_edit{
    margin-bottom: 16%;
}

.jumb_s {
    background: linear-gradient(rgba(33, 30, 28, 0.7), rgba(33, 40, 28, 0.7)), url(../img/carousel-2.jpg), no-repeat center center;
    background-size: cover;
  }
  
  .fa-whatsapp{
      font-size: 6rem;
      margin: 35px
  }
  
  .btn_aba{
      font-size:2rem !important;
  }
  
  
  .edit_sedes{
      font-size: 30px !important;
  }