/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 30 nov. 2024, 21:32:19
    Author     : JEFFERSON
*/

#seleccion_1,#seleccion_2,#seleccion_3,#seleccion_4,#seleccion_5{
	margin: 0 3%;

}


#seleccion_1,#seleccion_2,#seleccion_3,#seleccion_5{
	background-color: rgba(0,74,140,0.6);
	opacity: 70%;
}

#seleccion_4{
	background-color: white;
	opacity: 100%;
}



.pago{
	background:-webkit-radial-gradient(white,rgb(221, 221, 228));
	margin: 0 30%;
	border-radius: 20px;
	padding: 10px;
	margin-bottom: 20px;
	cursor: pointer;
}

.pago a{
	margin: 0;
	text-decoration: none;
	color: black;
}

.pago:hover{
	box-shadow: 0px 1px 8px 5px black;
	transition: all 0.6s linear;
}

#btn_reserva{
	cursor: pointer;
}

#entrega_button_entrada{
	border: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	background:rgba(255, 255, 255, 0)
}

.pago_entrada{
	background:-webkit-radial-gradient(rgb(196, 175, 175),rgb(238, 29, 10));
}