/*PELICULAS EN CARTELERA - MOSTRAR PELICULAS COLUMNAS*/

.peliculas_cartelera_body{
    
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    
    border-radius: 10px;    
    box-shadow: 1px 1px 8px 8px gray;
    width: 1000px;
}



.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 5fr));
    gap: 25px;

}

.box-1{
    border-radius: 5px;
    z-index: 1;
    display: none;
}

.box-1:nth-child(1),.box-1:nth-child(2),.box-1:nth-child(3){
    display: inline;
}



.content_ver_menos_div{
    display: none;
}


/*-----------------------------------------------*/
/*boton ver mas peliculas - direcciona a otro html*/

.content_ver_mas_div,.content_ver_mas_div_2 a,.content_ver_menos_div{
    margin-top: 10px;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 15px;
    border: 1px solid red;
    color: red;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-end;
    text-decoration: none;
    box-shadow: 0px 3px 3px 3px black;
}

.content_ver_mas_div,.content_ver_mas_div_2 a,.content_ver_menos_div{
    border-style: solid;
    border-color: black;
    box-shadow: 0px 3px 3px 3px black;
    animation: dooranimation2 12s ease-in-out infinite;
}

@keyframes dooranimation2{
	20%, 40%{
		transform: translateX(-2%);
	}

	25%{
		transform: rotateY(3deg);
	}
}

/*HOVER DEL VER MAS*/
.content_ver_mas_div:hover,.content_ver_mas_div_2 a:hover,.content_ver_menos_div:hover{
     background-color: #f59622;
     box-shadow: 1px 3px 7px 9px black;
     transition: all 0.4s linear;
     cursor: pointer;
}

.content_ver_menos_div{
    display: none;
}



/*MOSTRAR DESCRIPCIÓN DE LA PELI*/

.contenedor_texto:hover ~ .contenedor_texto_descripcion_peli{
    position: relative;
    display: block;
    background:linear-gradient(#f98723,#FABD03);;
    padding: 2px 12px;
    border-radius: 20px;
    opacity: 1; 
    transition: opacity 0.8s ease;
    
}



/*-----------------DESAPARECER DESCRIPCIÓN----------------------------------------*/

.contenedor_texto_descripcion_peli{
    position: absolute;
    /*display: none;*/
    width: 270px;
    text-align: justify;
    opacity: 0; 
    pointer-events: none;
    
}

/*puntero*/
.contenedor_texto{
    cursor: default;
}





/*--------------------------------------------------------------*/
/*COLOR LETRA TITULO DE PELIS*/
.text_content_nombre_tiempo_funcion_p{
    text-shadow: 0px 2px 1px gray !important;
    font-size: 21px !important;
    height: 10px !important;
}

.text_content_nombre_tiempo_funcion{
    color: #E20613 !important;
    text-shadow: 0px 2px 1px #FABD03 !important;
}

.content_ver_mas_div h5{
    text-align: center !important;
    margin-top: 130px !important;
    font-size: 40px !important;
    color: whitesmoke !important;
    text-shadow: 0px 2px 3px black !important;
}

.decoracion_link{
    text-decoration: none !important;
    color:#E20613 !important;
}


#titulo_cartelera_body{
    color:black;
    text-shadow:0px 2px 4px black !important;
    font-size: 30px !important;
    opacity: 80% !important;
}





/*Ver detalle y reservar pelicula*/
.contenedor_reservar_detalles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    
}


.contenedor_reservar_detalles_title{
    z-index: 1;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    background-color: black;
    align-items: center; 
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    display: flex;
    height: 45px;
    text-decoration: none;
    text-align: center !important;
    align-content: center !important;
    align-items: center !important;
    justify-content: center !important;
    justify-items: center !important;
    
}

.contenedor_reservar_detalles_title:hover{
    box-shadow: 0px 0px 3px 2px whitesmoke;
    transition: all 0.4s linear;
    text-decoration: none;
}












/**//*movimiento de imagen*/
.mov_img_content_cartelera{
    border-style: solid;
    border-color: black;
    box-shadow: 0px 3px 3px 3px black;

}


@keyframes dooranimation3{
	20%, 40%{
		transform: translateX(-5%);
	}

	25%{
		transform: rotateY(3deg);
	}
}

/*TAMAÑO DE RESERVAS*/
.probar{
    animation: dooranimation3 12s ease-in-out infinite;
    width: 255pX;
    height: 365px;
    
}


/*Imagen cartelera*/

/*Hacer aparecer la compra y detalle, además sombrear la imagen*/
.probar:hover{
    background-color: gray;
    box-shadow: 1px 3px 7px 9px black;
    transition: all 0.4s linear;
    
    
}


.probar:hover .contenedor_reservar_detalles{
    /*background-color: gray;
    box-shadow: 1px 3px 7px 9px black;*/
    transition: all 0.8s linear;
    opacity: 1;
    z-index: 999;
    pointer-events: auto;
    color: white;
}


/**/



/*ordenar compra y detalle emoji*/
.ordenar{
    padding: 0 2px;
    padding-bottom: 0;
    margin-bottom: 0
}



.sin_mover{
    
    text-decoration: none;
    color: white !important;
    font-size: 20px;
    
}




/*Ajustar informacion y cartelera*/
@media only screen and (max-width:1350px){
    .contenedor_texto_descripcion_peli{
        width: 230px;
    }


    

    .body_selector_combos{
        display: flex;
    }


    .body_selector_combos{
        display: none;
        
        width: 100%;
        max-width: 100%;
        background-color: rgb(255, 255, 255);;
        box-shadow: 0px 0px 30px 10px gray;
        
        border-radius: 5px;
        border-style: inset;
        z-index: 1;
        position: fixed;
        top: 100px;
        margin: 0;
        
    }
    
    .selector_opciones{
        padding: 0 1rem;
        align-content: center;
        border-right:  solid gray 0.4px;
        border-bottom: none;
        font-size: 11px;
    }
    
    .selector_opciones_btn{
        padding: 0 2rem;
        align-content: center;
        border-bottom: none;
        
    }
    
    .selector_opciones_2{
        padding: 0 2rem;
        align-content: center;
        border-bottom: none;
    }
    
    
    .selector_opciones:hover{
        box-shadow: 0px 2px 2px 2px black;
        transition: all 0.2s linear;
    }
    
    .selector_opciones_2:hover{
        box-shadow: 0px 2px 2px 2px black;
        transition: all 0.2s linear;
    }
    
    
    .selector_opciones_div h3{
        margin: 3px 0;
    }
    
    #btn_selector_opciones_filtrar{
        color: black;
        background-color: orangered;
        box-shadow: 0px 0px 2px 1px white;
        border-style: none;
        font-size: 18px;
        border-radius: 8px;
    
    }

    .contenedor_peliculas div, .contenedor_sedes div,.contenedor_dia div{
        background-color: #FABD03;
        font-size: 9px;
        margin: 0;
        
    }

    .contenedor_peliculas div:hover, .contenedor_sedes div:hover,.contenedor_dia div:hover{
        background-color: #FABD03;
        font-size: 10px;
        margin: 0;
        
    }


}

@media only screen and (max-width:1066px){
    .content_section_selector_bodypelis{
        display: list-item;
        list-style: none;
    }

    .peliculas_cartelera_body{
        width:80%;
        margin-top: 8rem;
    }

    .content_informacion_detallepeli{
        padding-top: 800px;
    }

    .body_selector_combos{
        display: flex;
        
        width: 100%;
        left: -2px;
        

        
    }

}


@media only screen and (max-width:676px){
    .content_section_selector_bodypelis{
        display: list-item;
        list-style: none;
    }

    .peliculas_cartelera_body{
        width: 300px;
        margin-top: 8rem;
    }

    .content_informacion_detallepeli{
        padding-top: 800px;
    }

    .body_selector_combos{
        display: flex;
        
        width: 100%;
        left: -2px;
        

        
    }

}


@media only screen and (max-width:500px){
    .box-1 {
        width: 100%;
        font-size: 12px;
    }

    .text_content_nombre_tiempo_funcion_p{
        font-size: 15px;
    }

    .mov_img_content_cartelera{
        width: 70%;
        height: 70%;
    }

    .probar{
        height: 11%;
    }
    .peliculas_cartelera_body{
        margin: 0;
        padding: 0;
    }
    
    .probar:hover{
        padding: 0;
        margin: 0;
        
    }

    .contenedor_reservar_detalles{
        width: 40%;
        font-size: 10px;
        left: 10%;
    }


    .content_img{
        height: 300px;
    }

    .mov_img_content{
        height: 400px;
    }

    #text_tendencias{
        font-size: 15px;
    }

    #titulo_cartelera_body{
        margin-top: 20px;
        font-size: 15px;
    }
    
}


/*Color comprar peli*/
.comprar_reserva_detalle{
    background-color: red !important;
    color: white;
}

.comprar_reserva_detalle:hover{
    color: white;
}

.body_pelis{
    margin-bottom: 5%;
    margin-top: 5%;
}

/*Tamaño texto*/
.texto_img_cartelera{
    font-size: 12px;
    color:black;
    text-shadow: 0px 0px 1px black;
}