/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 3 set. 2024, 23:38:19
    Author     : JEFFERSON
*/

body{
    background: 
    radial-gradient(circle at top, rgba(150, 10, 0, 0.5) 40%, rgba(255, 182, 193, 0.5) 150%), /* Rojo intenso y rosa claro */
    radial-gradient(circle at center, rgba(255, 99, 71, 0.7) 0%, rgba(255, 182, 193, 0) 80%) !important; /* Rojo tomate claro y rosa suave */


        background-size: cover;
        background-blend-mode: overlay;
}

/*
.decoracion_title{
    width: 50%;
    height: 70%;
    background: linear-gradient(#f24910,#fa9303);
    display: flex;
    position: absolute;
    margin-left: 28%;
    top: -5px;
    z-index: -1;
    border-radius: 50px;
    animation: title_box 2s linear infinite;
}

@keyframes title_box {
    0% {
        transform: rotate(0deg); /* Inicialmente sin rotación
    }
    100% {
        transform: rotate(180deg); /* Rotación de 180 grados
    }
}*/
.content_relative_title{
    position: relative;
    width: 60%;
    margin-left: 100px;
}


.Carrusel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 3rem 5rem;
    margin: 5%;
    background: linear-gradient(#f24910,#fa9303);
    box-shadow: 0px 0px 15px 9px gray;
    border-radius: 20px;
    padding: 2rem;
}

.elemento {
    flex: 1 0 auto;
    margin: 0 10px;
    margin-bottom: 10px;
    height: 490px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
    margin-right: 40px;
}

blockquote.tiktok-embed {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    min-height: 395px;
    margin-top: 1px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #ff850b #000000;
    
    
}

.Carrusel::-webkit-scrollbar {
    height: 8px;
}

.Carrusel::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.Carrusel::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.Carrusel::-webkit-scrollbar-thumb:hover {
    background: #ff0000;
}

.content_logos_central {
    display: flex;
    padding: 1rem 3rem;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
}

.div_logos_central {
    padding: 4rem 7rem;
    text-align: center;
    margin-top: 80px;
}

.none_decoration_central {
    text-decoration: none;
    color: black;
    font-size: 40px;
    animation: girar 2s linear infinite;
    text-shadow: 1px 4px 8px rgb(255, 0, 0);
}
.none_decoration_central:hover{
    text-shadow: 0 2px 5px #000000;
}


.none_decoration_central img{
    animation: girar 10s linear infinite;
    filter: drop-shadow(0 10px 15px gray);
}
.none_decoration_central img:hover{
    filter: drop-shadow(0 5px 25px rgb(0, 0, 0));
}

@keyframes girar {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

#title_tik_tok {
    font-size: 50px;
    text-align: center;
    text-shadow: 0px 2px 15px rgb(82, 80, 80);
    animation: title 5s linear infinite;
    margin: 0;
    padding: 0;
}

.content_logos_central{
    background: none
}
@keyframes title {
    80% {
        transform: translateX(45%);
    }
    100% {
        transform: translateX(-3%);
    }
}
.tiktok_content_logo div{
    margin: 0;
    padding: 0;
    margin-top: 50px;
}





/**/


@media only screen and (max-width:1205px){
    .content_logos_central{
        margin: 0;
        padding: 0;
    }
    #title_tik_tok{
        font-size: 40px;

    }

    .content_relative_title{
        margin-bottom: 50px;
    }

    .div_logos_central{
        margin: 5%;
        padding: 0;
        

    }
    .none_decoration_central img{
        width: 100%;
        height: 250px;
    

    }


    .tiktok_content_logo div a img{
        width: 30%;
    }

}

@media only screen and (max-width:781px){
    #title_tik_tok{
        width: 90%;
        font-size: 30px;
    }

    .none_decoration_central{
        font-size: 25px;
    }

    .content_relative_title{
        margin-bottom: 70px;
    }
    
}


@media only screen and (max-width:530px){
    #title_tik_tok{
        font-size: 25px;
        width: 70%;
    }

    .Carrusel{
        width: 60%;
        position: relative;
        left: 5%;
        top: 120px;
        margin-bottom: 200px;
    }

    .none_decoration_central{
        font-size: 18px;
    }

    .none_decoration_central img{
        width: 100px;
        height: 100px;
        margin: 0;
        padding: 0;
    }

    .absolute_decoration{
        top: 0;
        top: 80px;
    }

}