/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 30 ago. 2024, 17:51:37
    Author     : JEFFERSON
*/

#title_sedes_princi{
    cursor: default;
}

.body_sedes{
    margin-top: 100px;
    border-style: none;
    border-top: groove 4px #ff9e81;
    padding-top: 50px;
    
}


/*Centrar sedes*/
.content_Sedes_relative{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.content_sedes{
    display: flex;
    justify-content: center;
    padding: 2rem 0rem;
    background-color: white;
    width: 730px;
    border-radius: 16px;
    box-shadow: 0px 1px 3px 3px rgb(202, 192, 192);
    text-decoration: none !important;
    color: black;
    margin-bottom: 70px;
    transition: transform 0.5s ease;
    
}

#title_sedes_princi{
    text-align: center;
    text-shadow: 2px 4px 6px gray;
    font-size: 50px;
    margin-bottom: 90px;
}


.content_sedes2{
    display: flex;
    justify-content: center;
    padding: 2rem 0rem;
    background-color: white;
    width: 730px;
    border-radius: 16px;
    box-shadow: 0px 1px 3px 3px rgb(202, 192, 192);
    text-decoration: none;
    color: black;
    
    
}
/*Efecto movimiento a las sedes*/
.content_sedes:hover{
    background-color: rgb(202, 192, 192);
    transition: all 0.4s linear;
    animation: mov 1s ease;
}

.content_sedes2:hover{
    background-color: rgb(202, 192, 192);
    transition: all 0.4s linear;
    animation: mov 1s ease;
}

@keyframes mov {
    0% {
        transform: translate(-5px, 0) rotate(0deg);
      }
      30% {
        transform: translate(-10px, -10px) rotate(-20deg);
      }
      100% {
        transform: translate(0, 0) rotate(0deg);
      }
  }

  /**/



.div_content_text{
    width: 300px;
}

.div_content_text p{
    font-size: 20px;
}

.id_sedes_img{
    border-radius: 20px;
}

.div_content_sedes2_align{
    padding: 1rem;
}

.mapa_direc{
    background-color: red;
    width: 400px;
    height: 400px;
}

/*cursor*/
.div_content_text h2{
    cursor: pointer;
}

/*Mapa direccion*/


.content_mapa_ir_direccion{
    margin: 10px;
    margin-bottom: 15px;
}
.mapa_ir_direccion{
    text-decoration: none !important;
    color: whitesmoke;
    text-shadow: 1px 1px 2px gray;
    font-size: 20px;
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    
}



.mapa_ir_direccion:hover{
    box-shadow: 0px 0px 8px 4px rgb(249, 63, 63);
    transition: all 1s;
}

/**/

.CLFrame{
    display: inline-block;
    width: 100%;
    height: 550px;
    padding-left: 5%;
    padding-right: 5%;
}

#ifram_edit{
    border-radius: 10px;
    box-shadow: 0px 0px 10px 4px gray;
    margin-bottom: 20px;
    width: 100%;
    height: 550px;
    
}

/*.section_frame_ubic{
    background: linear-gradient(#E20613,#ffa031);
    width: 800px;
    border-radius: 20px;
    box-shadow: 0px 2px 4px 4px gray;
    padding: 10px;
}*/

#ubicacion_title_map{
    text-shadow: 1px 1px 2px white;
    font-size: 30px;
}

#efecto{
    border-top-style: groove;
    padding: 1rem;
    width: 100%;
    border-color: black;
    border-radius: 70px;
    margin-top: 69px;
}


/*Ajustar mapa*/
@media only screen and (max-width:1100px){
    #efecto{
        width: 90%;
    }

    .section_frame_ubic{
        margin: 0;
        width: 95%;
    }

    #ifram_edit{
        width: 95%;
    }
    .CLFrame{
        width: 100%;
    }

    
}


@media only screen and (max-width:800px){
    .content_sedes{
        display: inline-block;
        
        width: 80%;
        
    }

    .div_content_sedes2_align{
        width: 90%;
    }
    .div_content_text{
        width: 100%;
        margin: 0;
        
    }

    .nombre_cine_sede{
        width: 100%;
        margin: auto;
    }

    .id_sedes_img{
        width: 70%;
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width:400px){
    

    .nombre_cine_sede{
        font-size: 70%;
    }

    .div_content_text p {
        font-size: 50%;
        
    }

    .div_content_text{
        width: 70%;
        margin: 0;
        
    }

    .nombre_cine_sede{
        width: 70%;
        margin: auto;
    }
    .id_sedes_img{
        width: 70%;
        float: left;
    }

    .content_Sedes_relative{
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    #title_sedes_princi{
        font-size: 17px;
        margin: 0;
        margin-bottom: 30px;
    }

    .content_Sedes_relative{
        margin: 0;
        padding: 0;
    }
    .content_sedes{
        width: 200px;
        align-items: center;
        text-align: center;
        justify-content: center;
        justify-items: center;
        
    }


    .div_content_sedes2_align{
        margin: 0;
        padding: 0;
        width: 220px;
        padding-left: 25px;
    }
}
/*
@media only screen and (max-width:300px){
    .flex_what {
        display: flex !important; /* Usa display: flex en lugar de inline-flex
        flex-direction: column !important; /* Esto pone los elementos uno debajo del otro 
        align-items: center !important; /* Opcional: centrar los elementos horizontalmente
        text-align: center !important; /* Opcional: alinear el texto en el centro 
    }
    
    .mcla{
        width: 100%;
    }
}*/