/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
Created on : 3 set. 2024, 22:48:06
Author : JEFFERSON
*/

*{
   margin: 0;
   box-sizing: border-box;
   
}
   
   
.cl{
   display: block;
   flex-flow: column wrap;
   min-height: 10vh;
   min-width: 100%;
   margin-top: 2%;
   margin-bottom: 2%;
   padding: 3%;
   
   
    background: linear-gradient(rgba(33, 30, 28, 0.7), rgba(33, 40, 28, 0.7)), url('../img/img_cine_portada.png') no-repeat center center;

    background-size: cover;
    width: 100%;
   
}
   
   
   
   
#title_uni{
   width: 100%;  
   text-align: center;
   margin-bottom: 2%;
   color: orangered;
   text-shadow: 0px 5px 5px white;
   
}
.principal{  
   flex: 1;
   display: flex;
   flex-wrap: wrap;
   gap:100px;  
   padding: 5px 20px;
   
}
#art1,#art3{
   flex: 1 1 calc(33% - 20px);
   min-height: 35vh;
   }
#art1 img,  #art3 iframe{
   width: 100%;
   height: 100%;
}
   
   
.edit{
   box-shadow: 0px 0px 10px 2px black;
   border-radius: 10px;
}

@media screen and (max-width:768px){

#art1,#art2{
   flex: 1 1 calc(50% - 20px);
}
#art3{
   flex: 1 1 calc(100% - 20px);   
}
   
.cl{
   margin-bottom: 7%
}
   
}